@font-face {
  font-family: 'Jhal-Muri';
  src: url(../fonts/Jhal-Muri.ttf);
}

@font-face {
  font-family: 'hey-comic';
  src: url(../fonts/hey-comic.ttf);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --header-text-color: #252622;
  --header-text-color-secondary: #3A86FF;
  --header-text-color-third: #ffff;
  --para-text-color: #484B45;

  --header-text-color-clicked: #3477e3;

  --background-secondary-color: #ffc107;
  --background-third-color: #484B45;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li {
  list-style: none;
}

/*1. Navbar*/
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--header-text-color-third);
  width: 100%;
  z-index: 500;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;

  & h1{
    font-family: 'Jhal-Muri';
    font-weight: 900;
  }

  & .nav-row{
    display: flex;
    flex-direction: row;
    gap: 10px;

    & img{
      height:  52px;
      width: 52px;
    }
  }

  & ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
  }

  a {
    color: var(--header-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    transition: color 0.4s;
    color: var(--background-third-color);

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 2px;
      background-color: transparent;
      transition: background-color 0.4s;
    }

    &:hover {
      color: var(--header-text-color-secondary);
    }

    &:hover::after {
      animation: navAni 0.5s forwards;
      background-color: var(--header-text-color-secondary);
    }
  }
}

@keyframes navAni {
  from {
    transform: scaleX(0);
    width: 100%;
  }
  to {
    transform: scaleX(1);
    width: 100%;
  }
}


/*1. Hero*/
.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../assets/images/backgrounds/hero-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.hero-group{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}

.hero-col-1{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 700px;

  & h1{
    color: var(--header-text-color);
  }

  & span{
    font-family: 'Jhal-Muri';
  }

  & button{
    margin: auto;
  }
}

.hero-col-2 img{
  border-radius: 50%;
}

.hero-social-links {
  display: flex;
  gap: 10px;
  margin: auto auto 15px;

  & img{
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(33%) sepia(62%) saturate(6266%) hue-rotate(211deg) brightness(103%) contrast(98%);
    cursor: pointer;
    transition: 0.3s;

  &:hover{
    filter: brightness(0) saturate(100%) invert(21%) sepia(43%) saturate(5199%) hue-rotate(210deg) brightness(99%) contrast(89%);
    scale: 0.90;
  }

  }
}

/*2. Home info*/
.home-info{
  display: flex;
  flex-direction: column;
  align-items: center;

  & .info-title{
    display: flex;
    flex-direction: row;
    gap: 10px;

    & img{
      height: 32px;
      width: 32px;
      margin: auto 0;
      filter: brightness(0) saturate(100%) invert(39%) sepia(93%) saturate(621%) hue-rotate(189deg) brightness(102%) contrast(104%);
    }
  }

  & h1 {
    color: var(--header-text-color-secondary);
    line-height: 1.5;
  }

  & p {
    max-width: 900px;
  text-align: center;
  color: var(--para-text-color)
  }

  & button {
    margin: 30px auto; 
  }

  & hr {
    width: 50%;
  }
}

.icon-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 55px auto;
  max-width: 60%;
}

.icon-list img{
  height: 32px;
  width: 102px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;

  &:hover{
    scale: 0.93;
  }
}

/*3. Skills*/
.home-inner-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-secondary-color);

  & .skills-txt{
    display: flex;
    flex-direction: row;
    gap: 5px;

    & img{
      height: 32px;
      width: 32px;
      margin: auto 0;
      filter: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(0%) hue-rotate(137deg) brightness(114%) contrast(100%);
    }
  }
}

.home-skills{
  & h1{
    color: var(--header-text-color-third);
    font-size: 60px;
  }

  & img {
    width: 100%;
  }

  & hr{
    width: 80%;
  }
}

.skill-item-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60%;
}

.skill-item{
  background-color: var(--background-third-color);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.3rem;
  padding: 10px;
  margin: 10px;

  &:hover{
    scale: 0.93;
  }

  & h1{
    color: var(--header-text-color-third);
    font-size: 1rem;
  }
}

/*4. Projects*/
.home-projects{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .project-title{
    display: flex;
    flex-direction: row;
    gap: 15px;

    
    & img{
      height: 32px;
      width: 32px;
      margin: auto 0;
      filter: brightness(0) saturate(100%) invert(39%) sepia(93%) saturate(621%) hue-rotate(189deg) brightness(102%) contrast(104%);
    }
  }

  & h1 {
    color: var(--header-text-color-secondary);
  }

  & hr {
    width: 80%;
  }
}

.project-list-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.project-item {
  position: relative;
  width: 300px; 
  height: 200px; 
  perspective: 1000px; 

  & .front, .back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: #fff;
  }

  & .front{
    color: #333;
  }

  & .back {
    transform: rotateY(180deg); 
  }
}

.project-item:hover .front {
  transform: rotateY(-180deg); /* Rotate the front face to show the back face */
}

.project-item:hover .back {
  transform: rotateY(0deg); /* Rotate the back face to show the front face */
}

/*5. Footer*/
.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #242424;
  color: var(--header-text-color-third);
  margin: 50px 0 0;

  & h2 {
    font-family: 'Jhal-Muri';
  }
  & a {
    text-decoration: none;
  }

  & .footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    padding: 30px 80px;

    & .footer-content h2{
      font-size: 22px;
    }
  }

  & .footer-col-2 p{
    font-size: 15px;
    max-width: 500px;
  }

  & .footer-row-2{
     text-align: center;
  }

  & .footer-social-links {
    display: flex;
    gap: 10px;
    margin: auto auto 15px;
  
    & img{
      width: 25px;
      height: 25px;
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7440%) hue-rotate(107deg) brightness(111%) contrast(101%);
      cursor: pointer;
      transition: 0.3s;
  
       &:hover{
        filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(1590%) hue-rotate(209deg) brightness(95%) contrast(89%);
        scale: 0.90;
      }
    }
  }
}

/*==============*/
/*1b. Blog Hero*/

.blog-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/images/backgrounds/bloghero-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 30px 0 40px;
  
  & h1{
    text-shadow: 1px 1px 2px black;
  }

  & p{
    margin: auto;
    max-width: 600px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
  }
}

.blog-content-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  margin: 50px 10px;
}

.blog-post-preview{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 250px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 0 0 15px;
  text-align: center;
  transition: 0.4s;

  & .blog-post-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }

  & img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  & button {
    margin: 20px auto;
    width: 50%;
  }

  & h1 {
    font-size: 27px;
  }

  & h2{
    font-size: 13px;
    color: var(--para-text-color);
  }

  & p{
    max-width: 200px;
    margin: auto;
  }
}

.blog-post-preview:hover{
  transform: translateY(-35px);
}

/*==============*/
/*1c. Contact Page*/

.contact-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/images/backgrounds/contacthero-bg.png);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-shadow: 1px 1px 2px black;
  padding: 20px 0;
}

/*2c. Contact me*/

.contact-me-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  padding: 20px 0;
  width: 600px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  & form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
  }

  & img {
    height: 15px;
    width: 15px;
    margin: auto 0;
  }

  & textarea{
    resize: vertical; 
    max-height: 200px;
    min-height: 100px;
  }

  & button{
    margin: 10px 0;
  }
}

.row-one{
  display: flex;
  flex-direction: row;
  gap: 10px;
}